Repository thrbowl/traefik, changes with the owners that .github/CODEOWNERS names for each.
All owners: @containous/kubernetes, @containous/rancher, @containous/marathon, @containous/docker

extract lb configuration steps into method
  server/server.go
Owners: none

[marathon] Use single API call to fetch Marathon resources.
  provider/marathon/marathon.go
  provider/marathon/marathon_test.go
  templates/marathon.tmpl
Owners: @containous/marathon

chore(glide): change nergoni git url.
  glide.lock
  glide.yaml
Owners: none

fix: double compression.
  glide.lock
  glide.yaml
  middlewares/compress.go
  middlewares/compress_test.go
  vendor/github.com/NYTimes/gziphandler/gzip.go
  vendor/github.com/NYTimes/gziphandler/wrapper.go
Owners: none

doc change regarding consul SSL
  docs/user-guide/kv-config.md
Owners: none

Fix replace path rule
  middlewares/replace_path.go
  middlewares/replace_path_test.go
Owners: none

Update docs for dnsimple env vars.
  docs/toml.md
  traefik.sample.toml
Owners: none

respond with 503 on empty backend
  integration/healthcheck_test.go
  middlewares/empty_backend_handler.go
  middlewares/empty_backend_handler_test.go
  server/server.go
  server/server_test.go
Owners: none

[marathon] Assign filtered tasks to apps contained in slice.
  provider/marathon/marathon.go
  provider/marathon/marathon_test.go
Owners: @containous/marathon

refactor: add Safe everywhere is needing.
  cluster/datastore.go
  provider/dynamodb/dynamodb.go
  provider/ecs/ecs.go
  provider/eureka/eureka.go
  provider/file/file_test.go
  provider/kubernetes/client.go
  provider/rancher/metadata.go
  server/web.go
Owners: @containous/kubernetes, @containous/rancher

refactor: migration Negroni from codegangsta to urfave
  README.md
  glide.lock
  glide.yaml
  middlewares/accesslog/save_backend.go
  middlewares/authenticator.go
  middlewares/authenticator_test.go
  middlewares/error_pages_test.go
  middlewares/ip_whitelister.go
  middlewares/ip_whitelister_test.go
  middlewares/prometheus_test.go
  middlewares/recover.go
  middlewares/recover_test.go
  server/server.go
  server/server_test.go
  server/web.go
  vendor/github.com/urfave/negroni/LICENSE
  vendor/github.com/urfave/negroni/doc.go
  vendor/github.com/urfave/negroni/logger.go
  vendor/github.com/urfave/negroni/negroni.go
  vendor/github.com/urfave/negroni/recovery.go
  vendor/github.com/urfave/negroni/response_writer.go
  vendor/github.com/urfave/negroni/static.go
Owners: none

fix GraceTimeOut description
  docs/toml.md
  server/configuration.go
  traefik.sample.toml
Owners: none

DataDog and StatsD Metrics Support
  docs/toml.md
  glide.lock
  glide.yaml
  middlewares/datadog.go
  middlewares/datadog_test.go
  middlewares/metrics.go
  middlewares/statsd.go
  middlewares/statsd_test.go
  server/configuration.go
  server/server.go
  server/server_test.go
  types/types.go
  vendor/github.com/go-kit/kit/log/doc.go
  vendor/github.com/go-kit/kit/log/json_logger.go
  vendor/github.com/go-kit/kit/log/log.go
  vendor/github.com/go-kit/kit/log/logfmt_logger.go
  vendor/github.com/go-kit/kit/log/nop_logger.go
  vendor/github.com/go-kit/kit/log/stdlib.go
  vendor/github.com/go-kit/kit/log/sync.go
  vendor/github.com/go-kit/kit/log/value.go
  vendor/github.com/go-kit/kit/metrics/dogstatsd/dogstatsd.go
  vendor/github.com/go-kit/kit/metrics/internal/ratemap/ratemap.go
  vendor/github.com/go-kit/kit/metrics/multi/multi.go
  vendor/github.com/go-kit/kit/metrics/statsd/statsd.go
  vendor/github.com/go-kit/kit/util/conn/doc.go
  vendor/github.com/go-kit/kit/util/conn/manager.go
  vendor/github.com/go-logfmt/logfmt/LICENSE
  vendor/github.com/go-logfmt/logfmt/decode.go
  vendor/github.com/go-logfmt/logfmt/doc.go
  vendor/github.com/go-logfmt/logfmt/encode.go
  vendor/github.com/go-logfmt/logfmt/fuzz.go
  vendor/github.com/go-logfmt/logfmt/jsonstring.go
  vendor/github.com/go-stack/stack/LICENSE.md
  vendor/github.com/go-stack/stack/stack.go
  vendor/github.com/kr/logfmt/decode.go
  vendor/github.com/kr/logfmt/scanner.go
  vendor/github.com/kr/logfmt/unquote.go
  vendor/github.com/stvp/go-udp-testing/LICENSE
  vendor/github.com/stvp/go-udp-testing/udp.go
Owners: none

[marathon] Use test builder.
  provider/marathon/builder_test.go
  provider/marathon/marathon.go
  provider/marathon/marathon_test.go
  testhelpers/helpers.go
Owners: @containous/marathon

.github/CODEOWNERS:

provider/kubernetes/*   @containous/kubernetes
provider/rancher/*      @containous/rancher
provider/marathon/*     @containous/marathon
provider/docker/*     @containous/docker
